@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
  
*, *:before, *:after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.header {
    display: flex;
    padding: 16px 40px;
    justify-content: space-between;
}

.content {
    padding: 20px;
    background-color: #f6f9f9;
    height: fit-content;
    
}
.content article{
    margin-left: 10px;
    margin-right: 10px;
}

.logo {
    padding: 6px;
}

.footer {
    font-weight: 600;
    position: absolute;
    width: 100%;
    padding: 20px;
    color: #4f4f4f;
    font-size: 14px;
    background-color: #f6f9f9;
    text-align: center;
    bottom:0;
}

ul.menu, menu li{
list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.menu {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.menu_item {
    padding: 0 10px;
}

.menu_item a {
    font-weight: 600;
    text-decoration: none;
    color: #4f4f4f;
}
